/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#ribbon {
    background: #D7DFE0 !important;
}

#main {
    padding-bottom: 97px !important;
    padding-right: 50px;
}

/*=============
Text Color Mods
=============*/
.txt-color-green {
    color:#47DBB7 !important;
}

.txt-color-greenLight {
    color:#C4FFF2 !important;
}

.txt-color-greenDark {
    color:#41A6A8 !important;
}
/*=================
End Text Color Mods
=================*/



/*=========
Widget Mods
=========*/

/* greenDark theme */
.jarviswidget-color-greenDark > header {
    border-color: #389091 !important;
    background: #41A6A8;
    color: #ffffff;
}
.jarviswidget-color-greenDark  > header  > .jarviswidget-ctrls a,
.jarviswidget-color-greenDark .nav-tabs li:not(.active) a {
    color: #ffffff !important;
}
.jarviswidget-color-greenDark .nav-tabs li a:hover {
    color: #333 !important;
}

.widget-body img {
    margin: 5px auto 5px auto;
    max-width: 50%;
    display: block;
}
/*=============
End Widget Mods
=============*/



/*====================
Mods to fixed-menu Nav
====================*/
.fixed-navigation nav>ul {
    padding-right: 0px !important;
    width: 100%;
}
/*=====================
end fixed-menu nav mods
=====================*/



/*====================
Mods to style-3 Colors
====================*/

.smart-style-3 body, body.smart-style-3 {
    background: #fff !important;
    font-family: Arial, sans-serif
}

.smart-style-3 #logo img {
    width: 120px;
    height: auto;
    padding: 3px 10px 5px 10px;
    margin-top: -3px;
    background-color: #FFF;
    border-radius: 10px;
}

.smart-style-3 #header {
    background-color: #41A6A8;
    background-image: -moz-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41A6A8), to(#3B9799));
    background-image: -webkit-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -o-linear-gradient(top, #41A6A8, #3B9799);
    background-image: linear-gradient(to bottom, #41A6A8, #3B9799)
}

.smart-style-3 #ribbon {
    background: #fff
}

.smart-style-3 #hide-menu i {
    color: #fff !important
}

.smart-style-3 .header-dropdown-list > li > .dropdown-toggle {
    display: block;
    background: rgba(0, 0, 0, .2);
    padding: 2px 7px 3px;
    border-radius: 3px;
    margin-top: 14px
}

.smart-style-3 .header-search > input[type=text] {
    border-color: #41A6A8
}

.smart-style-3 .header-search > button {
    color: #41A6A8
}

.smart-style-3 aside {
    background: #f2f2f2;
    border-right: 2px solid #ccc
}

.smart-style-3 .login-info {
    border-bottom: 1px solid #E2E2E2;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.smart-style-3 .login-info span {
    border-bottom: none
}

.smart-style-3 .login-info a span {
    color: #444 !important
}

.smart-style-3 nav > ul > li {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: linear-gradient(to bottom, #f9f9f9, #f2f2f2);
    border-bottom: 1px solid #DFDFDF
}

.smart-style-3 nav > ul > li > a {
    padding: 12px 10px 12px 11px;
    font-size: 13px
}

.smart-style-3 nav > ul > li > a b {
    top: 12px
}

.smart-style-3 nav > ul > li > a > i {
    color: #4D8BA5;
    font-size: 20px
}

.smart-style-3 nav > ul > li.active > a:before {
    top: 10px !important
}

.smart-style-3 nav > ul > li.open {
    border-left: 4px solid #4D8BA5
}

.smart-style-3 nav > ul > li.open > a {
    padding-left: 7px
}

.smart-style-3 nav > ul > li.open ul li > a, .smart-style-3 nav > ul > li.open > ul > li > a {
    padding-left: 38px
}

.smart-style-3 nav ul li.active > a:before {
    top: 6px;
    color: #bbb
}

.smart-style-3 nav ul li.active > a {
    font-weight: 700
}

.smart-style-3 nav ul ul {
    background: 0 0
}

.smart-style-3 nav ul ul li > a {
    font-size: 13px
}

.smart-style-3 nav ul li a:hover {
    background: rgba(0, 0, 0, .05) !important
}

.smart-style-3 .superbox-list.active:before {
    color: #3D3B39
}

.smart-style-3 .active + .ajax-dropdown {
    -webkit-box-shadow: 1px 14px 16px rgba(61, 35, 14, .55);
    box-shadow: 1px 14px 16px rgba(61, 35, 14, .55)
}

.smart-style-3 .dropdown-menu {
    border-radius: 0;
    border-bottom: 2px solid #ADADAD;
    background: #FDDFB3
}

.smart-style-3 .dropdown-menu > li > a {
    color: #4E361B
}

.smart-style-3 .dropdown-menu .divider {
    background-color: #EBC7A6
}

.smart-style-3 .dropdown-menu-large .dropdown-header {
    color: #5C391E
}

.smart-style-3 .has-warning .form-control {
    border-color: #c09853 !important
}

.smart-style-3 .has-error .form-control {
    border-color: #b94a48 !important
}

.smart-style-3 .has-success .form-control {
    border-color: #468847 !important
}

.smart-style-3 #shortcut {
    background-color: rgba(25, 16, 6, .85)
}

.smart-style-3 .ui-chatbox-titlebar {
    background-color: #66605B !important
}

.smart-style-3 .ui-chatbox-titlebar.ui-state-focus {
    background-color: #4B433C !important
}

.smart-style-3 #ribbon .breadcrumb, .smart-style-3 #ribbon .breadcrumb a {
    color: #7C7C7C !important
}

.smart-style-3 #ribbon .breadcrumb li:last-child, .smart-style-3 #ribbon .breadcrumb > .active {
    color: #5F5F5F
}

.smart-style-3.fixed-ribbon #ribbon {
    box-shadow: 0 .0625em .3125em rgba(0, 0, 0, .35)
}

.smart-style-3 #logo-group span#activity, .smart-style-3 .btn-header > :first-child > a {
    background-color: #41A6A8;
    background-image: -moz-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41A6A8), to(#3B9799));
    background-image: -webkit-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -o-linear-gradient(top, #41A6A8, #3B9799);
    background-image: linear-gradient(to bottom, #41A6A8, #3B9799);
    color: #fff !important;
    border: 1px solid #7FCCCF;
    text-shadow: #2F797A 0 -1px
}

.smart-style-3 #logo-group span#activity:active, .smart-style-3 #logo-group span#activity:hover, .smart-style-3 .btn-header > :first-child > a:active, .smart-style-3 .btn-header > :first-child > a:hover {
    -webkit-box-shadow: inset 1px 1px 0 #2F797A, inset -1px -1px 0 #2F797A;
    -moz-box-shadow: inset 1px 1px 0 #2F797A, inset -1px -1px 0 #2F797A;
    box-shadow: inset 1px 1px 0 #2F797A, inset -1px -1px 0 #2F797A;
    background-color: #41A6A8;
    background-image: -moz-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41A6A8), to(#3B9799));
    background-image: -webkit-linear-gradient(top, #41A6A8, #3B9799);
    background-image: -o-linear-gradient(top, #41A6A8, #3B9799);
    background-image: linear-gradient(to bottom, #41A6A8, #3B9799)
}

.smart-style-3 .header-dropdown-list > li > .dropdown-toggle, .smart-style-3 .project-context > :first-child, .smart-style-3 .project-selector {
    color: #fff;
    text-shadow: #2F797A 0 -1px
}

.smart-style-3 nav ul li a, .smart-style-3 nav ul li.open > a, .smart-style-3 nav ul li.open > a b {
    color: #444 !important
}

.smart-style-3 nav > ul ul li::before, .smart-style-3 nav > ul > li > ul::before {
    border: none
}

.smart-style-3 .page-footer, .smart-style-3 .superbox-show {
    background: #3D3B39
}

.smart-style-3.minified nav > ul > li {
    border-bottom: 1px solid #E9E4E4;
    border-top: 1px solid #FFF
}

.smart-style-3.minified nav > ul > li.open ul li > a {
    padding-left: 14px
}

.smart-style-3.minified nav > ul > li > ul, .smart-style-3.minified nav > ul > li > ul > li > ul > li {
    background-color: rgba(69, 69, 69, .9)
}

.smart-style-3.minified nav ul li a, .smart-style-3.minified nav ul li.open > a, .smart-style-3.minified nav ul li.open > a b {
    color: #fff !important
}

.smart-style-3 .dropdown-menu > .active > a, .smart-style-3 .dropdown-menu > .active > a:hover, .smart-style-3 .dropdown-menu > li > a:focus, .smart-style-3 .dropdown-menu > li > a:hover, .smart-style-3 .tt-suggestion.tt-is-under-cursor {
    background-color: #41A6A8;
    color: #fff
}

.smart-style-3 .dropdown-menu-large > li ul > li > a:focus, .smart-style-3 .dropdown-menu-large > li ul > li > a:hover {
    border-radius: 3px;
    background-color: #9BCCCF
}

.smart-style-3 input:not([type]), .smart-style-3 input[type=color], .smart-style-3 input[type=email], .smart-style-3 input[type=number], .smart-style-3 input[type=password], .smart-style-3 input[type=tel], .smart-style-3 input[type=text], .smart-style-3 input[type=url], .smart-style-3 textarea {
    border-top-color: #a3a3a3;
    border-left-color: #a3a3a3;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    box-shadow: inset 0 1px 0 #d6d6d6;
    color: #000
}

.smart-style-3 .select2-container-multi .select2-choices .select2-search-field input, .smart-style-3 .tt-hint {
    box-shadow: none !important;
    border: none !important
}

.smart-style-3 .SmallBox span, .smart-style-3 .bigBox span {
    letter-spacing: 0
}

.smart-style-3.menu-on-top nav ul ul li > a {
    color: inherit
}

.smart-style-3.menu-on-top nav ul ul li a {
    padding-left: 10px !important;
    font-size: 13px
}

.smart-style-3.menu-on-top nav ul ul li:hover > a {
    color: #fff
}

.smart-style-3.menu-on-top nav ul ul .active > a {
    color: #333 !important
}

.smart-style-3.menu-on-top nav ul > li > ul {
    left: -2px
}

.smart-style-3.menu-on-top nav > ul > li > a:hover {
    background: #fff !important
}

.smart-style-3.menu-on-top nav > ul > li > a:after {
    color: #8AA1B3 !important
}

.smart-style-3.menu-on-top aside {
    background: inherit
}

.smart-style-3.menu-on-top aside#left-panel {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff
}

.smart-style-3.menu-on-top aside#left-panel nav > ul > li {
    border-right: 1px solid #E2E2E2;
    border-left: 1px solid #FFF
}

.smart-style-3.menu-on-top aside#left-panel nav > ul > li > a {
    text-shadow: none !important;
    font-size: 13px;
    padding: 10px 9px !important;
    border: none !important
}

.smart-style-3.menu-on-top aside#left-panel nav > ul > li:hover {
    background: #fff
}

.smart-style-3.menu-on-top nav ul ul, .smart-style-3.menu-on-top nav ul ul ul {
    border-color: #E2E2E2
}

.smart-style-3.menu-on-top nav ul ul li a:hover, .smart-style-3.menu-on-top nav ul ul li:hover > a, .smart-style-3.menu-on-top nav ul ul ul li a:hover {
    background: rgba(0, 0, 0, .05)
}

.smart-style-3.menu-on-top nav ul ul li a, .smart-style-3.menu-on-top nav ul ul ul li a {
    color: #D8DEE5
}

.smart-style-3.menu-on-top nav ul ul li a:hover, .smart-style-3.menu-on-top nav ul ul ul li a:hover {
    color: #fff
}

.smart-style-3.menu-on-top nav ul ul li:hover > a:after, .smart-style-3.menu-on-top nav > ul ul > li a:after, .smart-style-3.menu-on-top nav > ul ul > li a:hover:after, .smart-style-3.menu-on-top nav > ul > li > a:after {
    color: inherit
}

.smart-style-3.menu-on-top nav ul ul .active > a:hover, .smart-style-3.menu-on-top nav ul ul li.active:hover > a {
    color: #333 !important
}

@media (max-width: 979px) {
    .smart-style-3 #content {
        padding-left: 5px;
        padding-right: 5px
    }

    .smart-style-3 #ribbon {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border-radius: 0
    }
}

.btn-primary {
    color: #fff;
    background-color: #41A6A8;
    border-color: #2F797A;
}

/*=======================
End of Smart-Style 3 Mods
=======================*/



/*============
Accordian Mods
============*/
.inner_list_group {
    padding-left: 20px;
}

/*=============
Add Device Mods
=============*/

.add_device {
    display: block;
    float:none !important;
}
@media (min-width: 768px){
    .add_device img {
        max-width: 45px;
        display: block;
        margin-right: 9px;
        float: right;
        z-index: 1000;
        position:fixed;
        right:0;
        bottom: 62px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .add_device img {
        max-width: 5%;
        display: block;
        margin: 0 auto;
        float: right;
        z-index: 1000;
        position:fixed;
        right:0;
        bottom: 62px;
    }
}
